.aplicatie_info,.aplicatie_success,.aplicatie_warning,.aplicatie_error {
	border: 1px solid;
	margin: 100px 20px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em;
}

.aplicatie_info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../img/info.png');
}

.aplicatie_success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../img/success.png');
}

.aplicatie_warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../img/warning.png');
}

.aplicatie_error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../img/error.png');
}

.aplicatie_footer {
	border-top: 1px solid #dfdfdf;
	background: #fbfbfb;
	margin-top: 25px;
}

#heading {
	margin-top: 10px;
	width: 100%;
}

.big_table {
	width: 945px;
	margin: 0px 13px;
}


