.bold
{
	font-weight:		bold;
}

.center
{
	text-align:			center;
}

.thirty
{
	width:				30%;
}

.haft
{
	width:				50%;
}


.yellow
{
	background:			#FF9;
}


/* START */

.situatie_div
{
	border: 			1px solid black;
	padding: 			0px;
	margin-top:			0px;
	min-width:			930px;
	max-width:			2000px;
}

.situatie_info
{
	padding: 			0px;
	margin: 			0px;	
	border-collapse: 	collapse;
	border-top:			none;
	width:				400px;
	margin-bottom:		0px;
	font-style: 		normal;
	text-decoration: 	none;
	font-family: 		Arial;
	margin-top:			-1px;
	margin-left:		-1px;
	margin-bottom:		10px;
}

.situatie_info tr td
{	
	border:				1px solid black; 
	font-size: 			10pt;
	font-weight: 		400;
	padding-left:		5px;
}

.situatie_info_first_column
{	
	max-width:			80px;
}

.situatie_titlu
{
	font-size:			14pt;
	font-weight:		bold;
	text-align:			center;
	font-style:			normal;
	text-decoration: 	none;
	font-family: 		Arial;
}

.situatie_subTitlu
{
	font-size:			12.5pt;
	font-weight:		bold;
	text-align:			center;
	font-style: 		normal;
	text-decoration: 	none;
	font-family: 		Arial;
	margin-bottom:		10px;
}

.situatie_data
{
	width:				100%;
	padding: 			0px;
	margin: 			0px;	
	border-collapse: 	collapse;
	margin-top:			-1px;
	margin-left:		-1px;
	padding-right:		1px;
	
}

.situatie_data thead tr th, .situatie_data tbody tr td
{	
	border:				1px solid black; 
	font-weight: 		400;
	text-align:			center;
	text-decoration: 	none;
	font-size:			9pt;
	font-style: 		normal;
	font-family: 		Arial;
	vertical-align:		middle;
	height:				20px;
	padding:			1px;
}

.situatie_data thead tr th
{	
	font-weight:		bold;
}

.situatie_data tbody tr td
{
	font-size:			9pt;
}

.situatie_data_col_1
{
	width:				30px;		
}

.situatie_data_col_2
{
	width:				86px;		
}

.situatie_data_col_3
{
	width:				90px;		
}

.situatie_data_col_4
{
	width:				20px;		
}

.situatie_data_col_5
{
	width:				90px;		
}

.situatie_data_col_6
{
	width:				86px;		
}

.situatie_data_col_7
{
	width:				16px;		
}

.situatie_data_col_8
{
	width:				85px;		
}

.situatie_data_col_9
{
	width:				37px;		
}

.situatie_data_col_10
{
	width:				16px;		
}

.situatie_data_col_11
{
	width:				37px;		
}

.situatie_data_col_12
{
	width:				78px;		
}

.situatie_data_col_13
{
	width:				21px;		
}

.situatie_data_col_14
{
	width:				68px;		
}

.situatie_data_col_15
{
	width:				82px;		
}

.situatie_data_col_16
{
	width:				50px;		
}

.situatie_data_col_17
{
	width:				107px;		
}

.situatie_data tbody tr td input, .situatie_bilete tr td input[type=text]
{
	border: 			none;
	height: 			15px;
	width: 				81px;
	background: 		#D4E8FF;
	text-align: 		center;
	border-radius:	 	0px;
	margin-right: 		-2px;
	padding: 			0px;
	margin-top: 		-2px;
	margin-bottom: 		-2px;
	margin-left: 		-2px;
}

.situatie_data tbody tr td
{
	padding: 			1px;
}

.situatie_data tbody tr td input:disabled, .situatie_bilete tr td input[type=text]:disabled
{
	margin:				-2px;
	width:				100%;
	color:				black;
	background:			white;
	text-align:			center;
	border:				none;
	cursor:				default;
}
.situatie_data tbody tr td input:focus,.situatie_bilete tr td input[type=text]:focus
{
	background:			#FFFBD6;
	border: 			1px solid #FFB200;
}

.situatie_footer
{
	width:				100%;
	min-height:			70px;
	margin-top:			10px;
}

.situatie_footer tr td
{
	border:				none;
	font-weight: 		400;
	text-align:			center;
	text-decoration: 	none;
	font-size:			11pt;
	font-style: 		normal;
	font-family: 		Arial;
	vertical-align:		middle;
	margin-right:		-2px;
	vertical-align:		top;
}


.situatie_nume_autor
{
	border-bottom:		1px dashed black;
	font-weight:		bold;
}



.situatie_totaluri
{
	width:					306px;
	padding: 				0px;
	margin: 				0px;	
	border-collapse: 		collapse;
	margin-right:			-2px;
	margin-left: 			87px;	
	
}


.situatie_totaluri tr td
{
	width:					50%;
	border:					1px solid black;
	font-size: 				10pt;
}



.situatie_bilete
{
	width:					327px;
	padding: 				0px;
	border-collapse: 		collapse;
	margin-right:			-2px;
}


.situatie_bilete tr td
{
	border:					1px solid black;
	font-size: 				10pt;
	padding:				2px;
}

.situatie_carnet
{
	width:					327px;
	padding: 				0px;
	margin: 				0px;	
	border-collapse: 		collapse;
	margin-right:			-2px;	
}

.situatie_carnet tr td
{
	border:					none;
	font-size: 				10pt;
}

.situatie_bilete_div
{
	margin-top:				10px;
}

.situatie_bilete tr td input[type=text]
{
	width:					100%;
	padding:				none;
}

.situatie_bilete tr:hover:not(:first-child)
{
	background:				#CEF6FF;
